/*********************
BREAKPOINTS
*********************/
/* BASE SIZES
---------------------------------- */
// For use with max-width only:
/*1199*/
$md: 1199px;
/*991*/
$sm: 991px;
/*767px*/
$xs: 767px;
/*480*/
$xxs: 480px;
// For use with min-width (default breakpoint mixin):
/*1200px*/
$lg: 1200px;
$sm-up: 992px;
$xs-up: 768px;
@mixin breakpoint($point) {
  @if $point == lg {
    @media (min-width: $lg) { @content ; }
  }
  @if $point == sm-up {
    @media (min-width: $sm-up) { @content ; }
  }
  @if $point == xs-up {
    @media (min-width: $xs-up) { @content ; }
  }
  @else if $point == md {
    @media (max-width: $md) { @content ; }
  }
  @else if $point == sm {
    @media (max-width: $sm) { @content ; }
  }
  @else if $point == xs {
    @media (max-width: $xs)  { @content ; }
  }
  @else if $point == xxs {
    @media (max-width: $xxs)  { @content ; }
  }
}

.agreement{
  display: block;
  width: 100%;
  position: relative;
  .agreement_box{
    @include breakpoint(sm-up){
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      max-width: 1140px;
    }
    @include breakpoint(sm){
      flex-direction: column;
    }
    .agreement_offer{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30%;
      @include breakpoint(sm){
        width: 340px;
      }
      .agreement_case{
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 340px;
        border: 0 solid white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        overflow: hidden;
        transition: 0.2s;
        .quantity_day{
          text-align: center;
          width: 100%;
          line-height: 36px;
          background-color: #0ca2d0;
          color: #ffffff;
          font-family: "Open Sans - Semibold", sans-serif;
          font-size: 13px;
          font-weight: 600;
          letter-spacing: -0.01px;
          box-shadow: 0 0 0;
          border-radius: 0;
        }
        .title_offer{
          text-align: center;
          margin-top: 35px;
          width: 100%;
          color: #0ca2d0;
          font-family: "Roboto Slab - Bold", sans-serif;
          font-size: 21px;
          font-weight: 700;
          line-height: 29px;
          letter-spacing: -0.01px;
          @include breakpoint(md){
            font-size: 19px;
          }
          @include breakpoint(sm){
            font-size: 21px;
          }
          p{
            margin: 0 auto;
            width: 80%;
            text-align: center;
          }
          p:last-child{
            color: #999999;
            font-family: "Open Sans", sans-serif;
            font-size: 13px;
            line-height: 30px;
          }
        }
        .price{
          margin-top: 10px;
          width: 100%;
          color: #0ca2d0;
          font-family: "Roboto Slab - Regular",sans-serif;
          letter-spacing: -0.02px;
          p{
            margin: 0 auto;
            text-align: center;
            position: relative;
            font-size: 13px;
            font-weight: 600;
            height: 30px;
            display: flex;
            width: 30%;
            padding: 0 0 0 50px;
            justify-content: center;
            span{
              top: -7px;
              left: 0;
              position: absolute;
              font-weight: 400;
              font-size: 42px;
            }
          }
        }
        .free_price{
          margin-top: 10px;
          width: 100%;
          color: #0ca2d0;
          font-family: "Roboto Slab - Regular",sans-serif;
          letter-spacing: -0.02px;
          p{
            margin: 0 auto;
            font-size: 21px;
            font-weight: 400;
            letter-spacing: -0.01px;
            text-align: center;
          }
        }
        .option{
          margin-top: 27px;
          margin-bottom: 11px;
          width: 100%;
          color: #4a5456;
          font-family: "Open Sans - Semibold", sans-serif;
          box-shadow: 0 0 0;
          border-radius: 0;
          p{
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: -0.01px;
          }
        }
        .button{
          width: 100%;
          padding: 17px 0;
          border-top: 1px solid #ebebeb;
          a{
            display: block;
            margin: 0 auto;
            width: 200px;
            color: #fff;
            text-align: center;
            border-radius: 100px;
            background-color: #0ca2d0;
            font-family: "Open Sans - Semibold", sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: -0.02px;
            text-decoration: none;
            transition: 0.2s;
            border: 1px solid #fff;
          }
          a:hover{
            transition: 0.2s;
            color: #0ca2d0;
            background-color: #fff;
            border:1px solid #0ca2d0;
          }
        }
      }
      .agreement_case:hover{
        margin-top: 0px!important;
        transition: 0.2s;
        margin-bottom: 18px;
        box-shadow: 0 22px 40px rgba(0, 0, 0, 0.1);
      }
      .agreement_list_box{
        margin-top: 35px;
        width: 100%;
        @include breakpoint(sm){
          width: 340px;
        }
        .list_title{
          color: #4a5456;
          font-family: "Open Sans - Semibold", sans-serif;
          letter-spacing: -0.01px;
          p{
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 30px;
            border-bottom: 1px solid #dedede;
          }
        }
        .list_text{
          ul{
            list-style-type: none;
            padding: 0;
            margin-top: 0;
            li{
              color: #4a5456;
              font-family: "Open Sans", sans-serif;
              font-size: 12px;
              line-height: 23px;
              position: relative;
              padding-left: 26px;
              margin-top: 10px;
              padding-bottom: 10px;
              border-bottom: 1px solid #dedede;
              p{
                margin-top: 0;
                margin-bottom: 0;
                max-width: 247px;
              }
              p:after{
                content: url("../image/ok.png");
                position: absolute;
                left: 0px;
                top: 2px;
              }
            }
          }
        }
      }
    }
  }
}