/*********************
BREAKPOINTS
*********************/
/* BASE SIZES
---------------------------------- */
/*1199*/
/*991*/
/*767px*/
/*480*/
/*1200px*/
.agreement {
  display: block;
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .agreement .agreement_box {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1140px;
  }
}
@media (max-width: 991px) {
  .agreement .agreement_box {
    flex-direction: column;
  }
}
.agreement .agreement_box .agreement_offer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}
@media (max-width: 991px) {
  .agreement .agreement_box .agreement_offer {
    width: 340px;
  }
}
.agreement .agreement_box .agreement_offer .agreement_case {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 340px;
  border: 0 solid white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  overflow: hidden;
  transition: 0.2s;
}
.agreement .agreement_box .agreement_offer .agreement_case .quantity_day {
  text-align: center;
  width: 100%;
  line-height: 36px;
  background-color: #0ca2d0;
  color: #ffffff;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.01px;
  box-shadow: 0 0 0;
  border-radius: 0;
}
.agreement .agreement_box .agreement_offer .agreement_case .title_offer {
  text-align: center;
  margin-top: 35px;
  width: 100%;
  color: #0ca2d0;
  font-family: "Roboto Slab - Bold", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.01px;
}
@media (max-width: 1199px) {
  .agreement .agreement_box .agreement_offer .agreement_case .title_offer {
    font-size: 19px;
  }
}
@media (max-width: 991px) {
  .agreement .agreement_box .agreement_offer .agreement_case .title_offer {
    font-size: 21px;
  }
}
.agreement .agreement_box .agreement_offer .agreement_case .title_offer p {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.agreement .agreement_box .agreement_offer .agreement_case .title_offer p:last-child {
  color: #999999;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 30px;
}
.agreement .agreement_box .agreement_offer .agreement_case .price {
  margin-top: 10px;
  width: 100%;
  color: #0ca2d0;
  font-family: "Roboto Slab - Regular", sans-serif;
  letter-spacing: -0.02px;
}
.agreement .agreement_box .agreement_offer .agreement_case .price p {
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-size: 13px;
  font-weight: 600;
  height: 30px;
  display: flex;
  width: 30%;
  padding: 0 0 0 50px;
  justify-content: center;
}
.agreement .agreement_box .agreement_offer .agreement_case .price p span {
  top: -7px;
  left: 0;
  position: absolute;
  font-weight: 400;
  font-size: 42px;
}
.agreement .agreement_box .agreement_offer .agreement_case .free_price {
  margin-top: 10px;
  width: 100%;
  color: #0ca2d0;
  font-family: "Roboto Slab - Regular", sans-serif;
  letter-spacing: -0.02px;
}
.agreement .agreement_box .agreement_offer .agreement_case .free_price p {
  margin: 0 auto;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.01px;
  text-align: center;
}
.agreement .agreement_box .agreement_offer .agreement_case .option {
  margin-top: 27px;
  margin-bottom: 11px;
  width: 100%;
  color: #4a5456;
  font-family: "Open Sans - Semibold", sans-serif;
  box-shadow: 0 0 0;
  border-radius: 0;
}
.agreement .agreement_box .agreement_offer .agreement_case .option p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.01px;
}
.agreement .agreement_box .agreement_offer .agreement_case .button {
  width: 100%;
  padding: 17px 0;
  border-top: 1px solid #ebebeb;
}
.agreement .agreement_box .agreement_offer .agreement_case .button a {
  display: block;
  margin: 0 auto;
  width: 200px;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  background-color: #0ca2d0;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02px;
  text-decoration: none;
  transition: 0.2s;
  border: 1px solid #fff;
}
.agreement .agreement_box .agreement_offer .agreement_case .button a:hover {
  transition: 0.2s;
  color: #0ca2d0;
  background-color: #fff;
  border: 1px solid #0ca2d0;
}
.agreement .agreement_box .agreement_offer .agreement_case:hover {
  margin-top: 0px !important;
  transition: 0.2s;
  margin-bottom: 18px;
  box-shadow: 0 22px 40px rgba(0, 0, 0, 0.1);
}
.agreement .agreement_box .agreement_offer .agreement_list_box {
  margin-top: 35px;
  width: 100%;
}
@media (max-width: 991px) {
  .agreement .agreement_box .agreement_offer .agreement_list_box {
    width: 340px;
  }
}
.agreement .agreement_box .agreement_offer .agreement_list_box .list_title {
  color: #4a5456;
  font-family: "Open Sans - Semibold", sans-serif;
  letter-spacing: -0.01px;
}
.agreement .agreement_box .agreement_offer .agreement_list_box .list_title p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  border-bottom: 1px solid #dedede;
}
.agreement .agreement_box .agreement_offer .agreement_list_box .list_text ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.agreement .agreement_box .agreement_offer .agreement_list_box .list_text ul li {
  color: #4a5456;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 23px;
  position: relative;
  padding-left: 26px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}
.agreement .agreement_box .agreement_offer .agreement_list_box .list_text ul li p {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 247px;
}
.agreement .agreement_box .agreement_offer .agreement_list_box .list_text ul li p:after {
  content: url("../image/ok.png");
  position: absolute;
  left: 0px;
  top: 2px;
}

/*# sourceMappingURL=agreement.css.map */
